h1 {
  font-size: 56px;
  font-family: serif;
  color: Blue;

}

.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}
